<div class="buy_item_area">
  あなたが買った商品
  <% @buy_transactions.each do |transaction| %>
    <% @buy_item = Item.find(transaction.item_id) %>
    <%= link_to "#{@buy_item.name}", transaction_show_path(transaction.id) %>
  <% end %>
</div>
<div class="sell_item_area">
  あなたが売った商品
  <% @sell_transactions.each do |transaction| %>
    <% @sell_item = Item.find(transaction.item_id) %>
    <%= link_to "#{@sell_item.name}", transaction_show_path(transaction.id) %>
  <% end %>
</div>
