<footer class="footer">
  <small>
  <a href="" class="rikkari-footer">rikkari</a>
  by<a href="">Toru Nagai</a>
  </small>
   <nav>
    <ul>
     <li><%= link_to"About","" %></li>
     <li><%= link_to"Contact","" %></li>
     <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
   </nav>
</footer>
