<footer class="footer">
  <nav>
    <p>by Toru Nagai</p>
    <ul>
      <li><a href="https://www.facebook.com/profile.php?id=100006495363798" target="_blunk"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/johnmanjiro3rd" target="_blunk"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/toru.nagai/" target="_blunk"><i class="fa fa-instagram"></i></a></li>
      <li><a href="mailto:johnmanjiro3rd@gmail.com"><i class="fa fa-envelope"></i></li>
    </ul>
  </nav>
</footer>
